<div style="margin-top: 40px;">
<div style="height: 90vh;" class="empty-whishlist d-flex justify-content-center align-items-center h-100 flex-column">
<img src="http://cdni.iconscout.com/illustration/premium/thumb/empty-cart-5521508-4610092.png" alt="">
<h1 class="text-danger fw-bolder ">Your Whishlistis Empty</h1>
<button routerLink="" class="btn btn-success">Add More Items </button>
</div>
<div class="whishlist">
    <div class="container px-4 px-lg-5 mt-5">
        <h1 class="text-danger fw-bolder ">Your Whishlist</h1>
        <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
         
            <div class="col mb-5">
                <div class="card h-100">
                    <!-- Product image-->
                    <img routerLink="view/1" class="card-img-top" src="https://dummyimage.com/450x300/dee2e6/6c757d.jpg" alt="product" />
                    <!-- Product details-->
                    <div class="card-body p-4">
                        <div class="text-center">
                            <!-- Product name-->
                            <h5 class="fw-bolder">fancy product</h5>
                            <!-- Product reviews-->
                          
                            <!-- Product price-->
                            $40.00
                        </div>
                    </div>
                    <!-- Product actions-->
                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                        <div class="d-flex justify-content-between">
                        <button class="btn"><i style="height: 40px;" class="fa-solid fa-heart text-danger fa-2x"></i></button>
                        <button class="btn"><i style="height: 40px;" class="fa-solid fa-cart-plus text-success fa-2x"></i></button>
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>